<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ced_Helloworld::helloworld" title="Hello World" module="Ced_Helloworld" sortOrder="30" resource="Ced_Helloworld::helloworld"/>
        <add id="Ced_Helloworld::showhello" title="Show Hello" module="Ced_Helloworld" sortOrder="10" parent="Ced_Helloworld::helloworld" resource="Ced_Helloworld::showhello" />
    </menu>
</config>